# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASSWORD=admin123
DATABASE_NAME=nest_db

# Security Configuration (JWT)
JWT_SECRET=Doi_Cai_Nay_Khi_Len_EC2_Nhe_Anh_Oi
JWT_EXPIRES_IN=1d

# REFRESH TOKEN (If used)
REFRESH_TOKEN_SECRET=Doi_Cai_Nay_Luon_A
REFRESH_TOKEN_EXPIRES_IN=7d
